head
    title 
  h1
  b(style='color: #e77656')
  h3
  h4  
  table(style='width: 40%; border: 1px solid #5f5c51; padding: 20px')
    tbody
      tr
        td(style='width: 15%')${text}
        td(style='width: 25%')${text}
        td(style='width: 15%')${text}
        td(style='width: 15%')${text}
        td(style='width: 30%')${text}
      tr
        td(style='width: 15%')${text}
        td(style='width: 25%')${text}
        td(style='width: 15%')${text}
        td(style='width: 15%')${text}
        td(style='width: 30%')${text}
      tr
        td(style='width: 15%')
        td(style='width: 25%')
        td(style='width: 15%')
        td(style='width: 15%')
        td(style='width: 30%')
  h4
  p
    br
    b(style='color: #e77656')